

/* for mid tab  */
@media (max-width: 825px) {
    .service-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .portfolio-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .input-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


/* for mobile  */
@media (max-width: 432px) {
    .nav-area{
        display: none;
    }
    .icon_new{
        display: block;
    }
    #home, #about{
        grid-template-columns: 1fr;
        flex-direction: column;
    }
    .home-area{
        order: 2;
    }
    .service-container{
        flex-direction: column;
        grid-template-columns: 1fr ;
    }
    .portfolio-container{
        display: flex;
        flex-direction: column;
    }
    .input-box{
        flex-direction: column;
    }
}


