/* all applied css  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Popins", sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* header area css  */
#header{
    position: fixed;
    width: 100%;
    padding: 2rem 9%;
    left: 0;
    right: 0;
    top: 0;
    background: var(--bg-color);
}

#header header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--text-color);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-area{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 13px;
    font-weight: 600;
}

.nav-area a{
    color: var(--text-color);
    transition: all;
    transition-duration: 500ms;
}
.nav-area a:hover,
.nav-area a.active{
    color: var(--main-color);
}

#menu{
    color: var(--text-color);
    font-size: 20px;
    display: none;
}

/* home area css  */
#home, #about{
    margin: 70px auto;
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns:  1fr 1fr;
    min-height: 500px;
    justify-content: space-between;
    align-items: center;
}


.home-area, .about-contant{
    width: 80%;
    line-height: 2;
}
.home-area h3{
    font-size: 18px;
    font-weight: 600;
}
.home-area h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.home-area .custom-details{
    font-size: 25px;
    font-weight: 600;
}
.home-area .custom-details span{
    color: var(--main-color);
}
.home-area p{
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
}
/* .social-media a{
    color: var(--text-color);
    font-size: 22px;
    padding: 2px;
    background-color: #1f242d;
    border-color: #0ef;
    color: #0ef;
}
.social-media a:hover{
    color: var(--main-color);
    font-size: 22px;
} */
.icon-bg{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}
.icon{
    color: var(--main-color);
    background: var(--bg-color);
    font-size: 20px;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    scale: 1.017;
}



.image-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    padding: 18px ;
    background-color: var(--main-color);
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
}
.social-media{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}
.btn{
    padding: 8px 16px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.heading{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 20px;
}
.heading span{
    color: var(--main-color);
}


/* service main part  */
#service{
    width: 80%;
    margin: 20px auto;
}
.service-container{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-evenly;
}
.service-box{
    min-height: 250px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--second-bg-color);
    border-radius: 20px;
    padding: 15px;
}
.service-box i{
    font-size: 50px;
    color: var(--main-color);
    font-weight: bolder;
}
.service-box h3{
    font-size: 20px;
    font-weight: 600;
}
.service-box p{
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
    margin: 10px 0;
}

/* protflio section start from  */
#portfolio{
    margin: 50px auto;
    width: 90%;
}
.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}
.portfolio-box{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.portfolio-box img{
    width: 100%;
    border-radius: 10px;
    transition: .3s ease-in;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}

.port-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background: linear-gradient(rgba(11, 5, 5, 0.126),var(--main-color));
    border-radius: 10px;
    padding: 30px 16px;
    text-align: center;
    line-height: 1.4;
    transition: all linear 500ms;
    transform: translateY(102%);
}
.portfolio-box:hover .port-layer{
    transform: translate(0);
}
.port-layer:hover{
    box-shadow: 0 0 1rem white;
}
.port-layer h1{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.port-layer p{
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 16px;
}
.port-layer a{
    color: black;
    font-weight: 600;
    width: 100px;
    height: 50px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}


/* contact section styles  */
#contact{
    width: 90%;
    margin: 50px auto;
}


.form{
    max-width: 70%;
    margin: 0 auto;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    width: 100%;
}
.input-box input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    background: var(--second-bg-color);
    border-radius: 10px;
    font-size: 20px;
    color: var(--text-color);
}
.form form #textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    background: var(--second-bg-color);
    border-radius: 10px;
    font-size: 20px;
    color: var(--text-color);
}
.form form .btn{
    cursor: pointer;
}


/* foother styles starting from here  */
#foother{
    padding: 20px 10px;
    background: black;
    font-size: 12px;
}